body {
    background-color: palegoldenrod;
}

div.container {
    border: 0px solid black;
}

div.empty{
    height: 60px;
    border: 0px solid grey;
}

div.col-sm-3 {
    border: 0px solid blue;
}

div.col-sm-4 {
    border: 0px solid yellow;
    
}

div.col-sm-6 {
    border: 0px solid black;
    padding: 10px;
}

div.mainQuote{
    background-color: ;
    border-radius:20px;
    background-image: url(images/bookLeft.jpg);
}

p#quoteSpace {
    background-color: transparent;
    border-radius: 0px 0px 0px 0px;
    color:floralwhite;
    padding-top: 20px;
    padding-right: 50px;
    padding-bottom: 20px;
    padding-left: 50px;
    border: 0px none grey;
    box-sizing: border-box;
    max-width:650px;
    margin-left:;
    font-weight:;
    overflow: hidden;
    font-size: 20px;
    margin: auto auto -0.1em auto; /* fixes gap in between <p> on large displays*/
    outline:none
}

p#extra{
    background-color: transparent;
    border-radius: 20px 20px 0px 0px;
    outline: none;
    color:transparent;
    padding-top: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
    border: 0px none antiquewhite;
    box-sizing: border-box;
    max-width:650px;
    margin-left:;
    font-weight:;
    overflow: hidden;
    font-size: 20px;
    margin:auto auto -0.1em auto;
}

p#extraTweet{
    background-color: transparent;
    border-radius: 0px 0px 20px 20px;
    outline:none;
    color:black;
    padding-top: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
    border: 0px none antiquewhite;
    box-sizing: border-box;
    max-width:650px;
    margin-left:;
    font-weight:;
    overflow: hidden;
    font-size: 20px;
    margin:auto auto -0.1em auto;
}

div.row {
    border: 0px none blue;
}


#getQuote{
    position: relative;
    background-color: #d1383d;
    border: 0px solid transparent;
    padding: 10px 10px 10px 10px;
    font-size: 13px;
    color: #debb67;
    cursor:default;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    overflow: hidden;
    border-radius: 10px ;
    outline:none;
    float:right;
    font-weight: bold;
    }

#getQuote:after {
    content: "";
    background-color: bisque;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px !important;
    margin-top: -120%;
    opacity: 0;
    border: none;
    transition: all 0.8s;
    border-radius: 10px;
    overflow: hidden;
}

#getQuote:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s;
    border-radius: 10px
}

img.twitterBtn{
    width: 40px;
    height: 40px;
    
}

#tweet{
   position: relative;
    background-color: transparent;
    border: 0px solid black;
    padding: 10px 10px 10px 10px;
    font-size: 14px;
    color: black;
    cursor:default;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    overflow: hidden;
    margin-left: ;
    border-radius: 10px;
    outline:none;
    float:left;
}